h1{color:red; ;}
        img{width: 400px;}
        #thirdDiv {height: 600px ;
        width: 500px; 
        background-color:red; 
    padding: 52px; margin: 29px;
border: 100px black solid; 
}
h3 {color:chartreuse; border: 55px;}
        #spainId{margin: 50px;}